.big-checkbox {
    transform : scale(2);
    
  }
  thead{
    font-weight: bold;
    font-size: 16pt;
    padding: 10px;
    background-color : yellow;
  }
  #orderLines{
    
    border : 3px solid blue;
  }
  tbody{
    padding-top : 205px;
    padding-bottom : 250px;
    background-color: #500000;
  }
  #orderLines td{
    padding-top : 25px;
    padding-bottom: 25px;
    color : green;
    border : 3px solid black;
  }